body {
  background-color: #008037;
  font-family: 'Roboto', sans-serif;
}

input {
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
  text-align: center;
  padding-right: 20px;
  padding-left: 20px;
}

#titulo {
  border: 3px solid black;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  background-color: #dcffeb;
  margin-top: 10%;
  margin-left: 45%;
  margin-right: 45%;
  text-align: center;
  padding: 15px;
  box-shadow: 5px 5px 10px rgb(151, 255, 186);
}

#block {
  border: 3px solid black;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  background-color: #dcffeb;
  margin-left: 40%;
  margin-right: 40%;
  text-align: center;
  padding: 15px;
  box-shadow: 5px 5px 10px rgb(151, 255, 186);
}

#submit {
  background-color: rgb(158, 255, 201);
  padding: 10px;
}

#submit:hover {
  color: white;
  background-color: rgb(139, 139, 139);
  transition: 0.2s;
  cursor: pointer;
}